<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>云建模</title>
  <?php include '../common/css.html'; ?>
  <link rel="stylesheet" href="../public/css/cloudmdl.css">
  <link rel="shortcut icon" href="../public/images/icon/09.png">
</head>
<body>
  <div class="gho-svg">
    <?php include('../public/images/svg/gho.svg'); ?> 
  </div>
  <?php include('../common/nav.html'); ?>
  <section class="introduce-pic">
    <div class="introduce-pic-bg"></div>
    <h2 class="top center-x">有照片就可以有模型</h2>
    <div class="gradient">
      <div class="bottom center-x">
        <p class="b-top">通过上传航拍照片或视频，平台将自动、快速为您建立三维实景模型。支持多种精度选择，支持模型数据下载。云建模--让建模变得更简单！</p>
        <div class="b-bottom clearfix">
          <div class="strong-point1 fl">
            <div>
              <svg class="coin">
                <use xlink:href="#coin"></use>
              </svg>
              <b>0</b>
            </div>
            <div>
              <span>设备投入</span>
            </div>        
          </div>
          <div class="strong-point2 fl">
            <div>
              <span>￥<b>2</b>元/亿像素</span>
            </div>
            <div>
              <span>最低价格</span>
            </div>
          </div>
          <div class="strong-point3 fl">
            <div>
              <svg class="purse">
                <use xlink:href="#purse"></use>
              </svg>
              <b>90</b>
              <span>%+</span>
            </div>
            <div>
              <span>节约成本</span>
            </div>
          </div>
          <div class="atc fl">
            <a class="btn-online" href="javascript:alert('暂未开放');">
              <span>上传 · 照片/视频</span>
              <!-- <input id="up-video" type="file"> -->
            </a>
          </div>
        </div>
      </div>
    </div>
    <a class="goto-bottom center-x">
      <svg class="goto-bottom-svg">
        <use xlink:href="#goto-bottom"></use>
      </svg>
    </a>
  </section>
  <section class="cloud-container">
    <div class="contatiner-shoot">
      <div class="contatiner-shoot-t">
        <h2>云建模 所拍即所得</h2>
        <p>只要上传照片/视频，就能得到精确的三维空间模型</p>
      </div>
      <div class="contatiner-shoot-c">
        <img class="lazy" src="../public/images/load.jpg" data-original="../public/images/01y.jpg">
      </div>
      <div class="contatiner-shoot-b">
        <h2>云建模 · 推荐机型</h2>
        <p>小飞机，大能耐!上述千元级无人机航拍所得照片/视频，即可用于云建模。</p>
      </div>
    </div>
    <div class="contatiner-type">
      <div class="contatiner-type-t">
        <h2>云建模 · 拍摄方式</h2>
        <p>针对不同尺度对象，选择合适的拍摄方式。采用Altizure，DJI GS PRO等APP规划航线，全自动航行拍摄，自主返航。</p>
      </div>
      <div class="contatiner-type-b">
        <div class="contatiner-type-bl w50">
          <h4>环绕飞行模式</h4>
          <p>(针对单体建筑)</p>
        </div>
        <div class="contatiner-type-br w50">
          <h4>五航线飞行模式</h4>
          <p>(针对地块)</p>
        </div>
      </div>
    </div>
    <div class="contatiner-download">
      <div class="contatiner-download-t">
        <h2>高精度建模，支持下载</h2>
        <p>云端自动、快速建立三维模型，完成后用户可下载原始OBJ模型到本地。</p>
      </div>
      <div class="contatiner-download-b">
        <img class="lazy" src="../public/images/load.jpg" data-original="../public/images/03y.jpg">
      </div>
    </div>
    <section class="introduce-jump">
      <h2>我有照片要云建模</h2>
      <p>（上传照片、设置精度后，会自动计算总价）</p>
      <a class="btn-online center-x" href="javascript:alert('暂未开放');">
        <span>上传 · 照片/视频</span>
        <!-- <input id="up-video" type="file"> -->
      </a>
    </section>
  </section>
  <a class="goto-top">
    <svg class="goto-top-svg">
      <use xlink:href="#goto-top"></use>
    </svg>
  </a>
  <?php include('../common/footer.html'); ?>
  <?php include '../common/popup.html'; ?>
</body>
</html>
<!-- <script src="../public/assets/template-web.js"></script> -->
<?php include '../common/js.html'; ?>
