/*通用*/
/** {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  color: #000;
  border: 0;
}*/
html, body {
  width: 100%;
  /*height: 100%;*/
  font-size: 24px;
  position: relative;
  /*top: 0;*/
  /*left: 0;*/
}
/*.gho-svg {
  display: none;
}*/
/*用户主页*/
/*顶部*/
/*.user-header {
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  padding: 0 15px;
}
.user-header .nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.user-header .nav li {
  color: #fff;
  text-align: center;
  width: 20%;
  height: 47px;
  line-height: 47px;
  font-size: 0;
}
.user-header .nav a {
  color: #fff;
  font-size: 18px;
}
.user-header .nav .logo span {
  text-indent: -999px;
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.user-header .nav .logo span:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/00.png") no-repeat 0 50%;
  background-size: 80px 30px;
}
.user-header .nav .phone {
  line-height: 30px;
  vertical-align: middle;
  line-height: 47px;
}
.user-header .nav .phone span {
  font-size: 16px;
  color: #fff;
}
.user-header .nav .phone img {
  width: 17px;
  height: 17px;
}
.user-header .nav .login {
  text-align: right;
}
.user-header .nav .login img {
  width: 30px;
  cursor: pointer;
}
*/
.header {
  background-color: #000;
}
/*用户信息*/
.user-info {
  width: 100%;
  /*padding: 50px 15px;*/
  background: url("../images/09.jpg") 0 40px repeat-x;
  /*background-size: 100% 100%;*/
  min-width: 310px;
  padding: 90px 15px 50px;
}
.user-info .info-box {
  width: 80%;
  margin: 0 auto;
}
.user-info .info-box .username {
  height: 26px;
}
.user-info .avatar {
  width: 83px;
  height: 83px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}
.user-info .avatar img {
  height: 100%;
  width: 100%;
}
.user-info ul {
  padding-left: 20px;
}
.user-info li {
  font-size: 18px;
  line-height: 20px;
  padding: 3px 0;
  color: #fff;
}
.user-info li:nth-child(1) {
  font-size: 16px;
}
.user-info li:nth-child(2) {
  height: 31px;
  line-height: 25px;
}
.user-info li:nth-child(3) {
  font-size: 14px;
}
.user-info li span {
  color: #fff;
}
.user-info li:nth-child(3) span {
  padding-right: 35px;
}
.user-info .address .info-set {
  /*display: inline-block;*/
  height: 25px;
  width: 45px;
  vertical-align: top;
  background: url("../images/02.png") 0 0 no-repeat;
  background-size: 100% 100%;
  display: none;
}
.user-info .address .info-set:hover {
  opacity: .8;
  cursor: pointer;
}
/*.user-info .address img {
  height: 25px;
  width: 45px;
  vertical-align: middle;
}*/
/*用户模型*/
.user-module {
  width: 100%;
  min-height: 480px;
  background-color: #f9f9f9;
}
.user-module .module-box {
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
}
.user-module .module-box .module-yun {
  padding: 0 15px;
  margin-bottom: 30px;
  width: 100%;
}
.user-module .module-box .module-yun-b {
  position: relative;
  height: 80px;
  width: 100%;
}
.user-module .module-box .module-yun-b .sort-box {
  position: absolute;
  right: 0;
  line-height: 41px;
  font-size: 16px;
  color: #999;
}
.user-module .module-yun-b .svg-wrapper {
  display: inline-block;
}
.user-module .svg-wrapper .address:hover,
.user-module .svg-wrapper .look:hover,
.user-module .svg-wrapper .time:hover {
  cursor: pointer;
  animation: svgscale .2s forwards;
}
.user-module .sort-box .svg-wrapper > svg {
  fill: #bbb;
  vertical-align: middle;
}
.user-module .sort-box .svg-wrapper .address {
  width: 27px;
  height: 27px;
}
/*.user-module .sort-box .svg-wrapper .address:hover {
  fill: #ef7070;
}*/
.user-module .sort-box .svg-wrapper .look {
  width: 27px;
  height: 27px;
}
/*.user-module .sort-box .svg-wrapper .look:hover  {
  fill: #f6c946;
}*/
.user-module .sort-box .svg-wrapper .time {
  width: 22px;
  height: 22px;
  margin-left: 4px;
}
/*.user-module .sort-box .svg-wrapper .time:hover {
  fill: #6495ED;
}*/
@keyframes svgscale {
  from { transform: scale(1) }
  to { transform: scale(1.3) }
}
.user-module .module-box .module-search {
  width: 50%;
}
.user-module .module-box .module-search input {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  border: 1px solid #888;
  font-size: 16px;
  line-height: 38px;
  outline: none;
  border-radius: 5px;
  color: #888;
}
.user-module .module-box .module-search input::placeholder {
  color: #888;
}
.user-module .module-box .module-search .search {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 25px;
  height: 25px;
  fill: #888;
}
/*loading-blue*/
.user-module .module-box .before-send {
  display: none;
  position: relative;
  width: 100%;
  height: 300px;
}
.user-module .module-box .before-send .loading-blue {
  width: 64px;
  height: 64px;
  background: url("../images/loading-blue.png") 0 0 no-repeat;
  animation: loadrotate 2s infinite linear;
}
@keyframes loadrotate {
  from { transform: rotateZ(0deg); }
  to { transform: rotateZ(360deg); }
}
.user-module .modules {
  width: 100%;
}
.user-module .module-item {
  width: 25%;
  padding: 0 15px 30px 15px;
  position: relative;
}
.user-module .module-item .item {
  box-shadow: 0 1px 1px rgba(97, 108, 121, 0.1), 0 7px 18px 0 rgba(97, 108, 121, 0.13);
  border-radius: 5px;
  overflow: hidden;
  /*display: inline-table;*/
}
.user-module .module-item .item-top-box {
  height: 1.7rem;
}
.user-module .module-item .item-top {
  /*display: block;*/
  width: 100%;
  height: 1.7rem;
  font-size: 0;
  cursor: pointer;
}
.user-module .module-item .item-top img {
  width: 100%;
  height: 100%;
  /*height: inherit;*/
  transition: all .9s ease;
}
.user-module .module-item .item-top:hover img {
  transform: scale(1.03);
}
.user-module .item-bottom {
  text-align: left;
  padding: 8px;
  position: relative;
  font-size: 0;
  width: 100%;
}
.user-module .item-bottom .item-info {
  height: 56px;
  width: 100%;
}
.user-module .item-bottom .item-info .item-info-t {
  height: 34px;
  line-height: 34px;
}
.user-module .item-bottom .item-info b {
  font-size: 16px;
}
.user-module .item-bottom .item-info .times-ago {
  text-align: right;
}
.user-module .item-info .item-info-b {
  height: 24px;
  line-height: 24px;
}
.user-module .item-info .item-info-b .address-look-box {
  text-align: left;
  display: inline-block;
}
.user-module .item-info .item-info-b .times-box {
  text-align: right;
  display: inline-block;
}
.user-module .item-bottom .item-info span{
  font-size: 12px;
  color: #888;
  font-family: "Open Sans", sans-serif;
  vertical-align: middle;
  display: inline-block;
}
.user-module .item-bottom .item-info svg {
  width: 19px;
  height: 19px;
  fill: #bbb;
  vertical-align: middle;
  padding-right: 2px;
}
.user-module .item-bottom .item-info .look {
  margin-left: 10px;
}
.user-module .item-bottom .item-info .avatar-box {
  display: inline-block;
}
.user-module .item-bottom .user-avatar {
  vertical-align: top;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  /*background: url('../images/icons/04.jpg') 0 0 no-repeat;*/
  /*background-color: #f6c946;*/
  /*background-size: 100% 100%;*/
}
.user-module .item-bottom .user-avatar .avatar {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.user-module .item-bottom .set {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: 10px;
  background: url("../images/01.png") no-repeat 0 0;
  background-size: 100%;
  cursor: pointer;
  transition: all .3s ease;
  display: none;
}
.user-module .item-bottom .set:hover {
  transform: scale(1.1);
  opacity: .9;
}
.user-module .item-bottom .set-box {
  display: none;
}
.user-module .item-bottom .set-list {
  position: absolute;
  bottom: 75%;
  right: 57px;
  background-color: #fff;
  padding: 5px 13px;
  border-radius: 5px;
  border: 1px solid #999;
  width: 70px;
}
.user-module .item-bottom .set-list button {
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
  text-align: center;
  color: #888;
  border: 0;
  width: 41px;
  background-color: #fff;
  outline: none;
}
.user-module .item-bottom .arrow {
  position: absolute;
  bottom: 100%;
  right: 52px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  transform: rotate(45deg);
}
.user-module .item-bottom .set-list button:hover {
  /*opacity: .7;*/
  color: #000;
}
.user-module .module-item .user-summary {
  width: 400px;
  height: 100px;
  padding: 15px;
  position: absolute;
  bottom: -45px;
  left: 15px;
  z-index: 90;
  border-radius: 5px;
  border: 1px solid #eee;
  background-color: #fff;
  line-height: 30px;
  text-align: left;
  display: none;
}
.user-module .module-item .user-summary .summary-arrow {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #fff;
  position: absolute;
  top: -9px;
  left: 12px;
  transform: rotate(45deg);
  border: 1px solid #eee;
}
.user-module .module-item .user-summary .arrow-shade {
  position: absolute;
  top: 7px;
  left: 0;
  width: 35px;
  height: 15px;
  margin-left: -5px;
  transform: rotate(-45deg);
  background-color: #fff;
}
.user-module .module-item .user-summary .summary-right {
  font-size: 20px;
  display: inline-block;
  width: 60%;
  margin-left: 80px;
}
.user-module .module-item .user-summary .summary-left {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
}
.user-module .module-item .user-summary .summary-left .summary-left-avatar {
  width: 100%;
  height: 100%;
  /*background: url("../images/icons/04.jpg") 0 0 no-repeat;
  background-color: #f6c946;
  background-size: 100% 100%;*/
}
.user-module .module-item .user-summary .summary-left .summary-left-avatar .avatar-min {
  width: 100%;
  height: 100%;
}
.user-module .module-box .btn-load {
  width: 280px;
  height: 55px;
  line-height: 55px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  background-color: #f6c946;
  cursor: pointer;
  outline: none;
  display: none;
  margin: 36px auto 10px;
}
.user-module .module-box .btn-load:hover {
  background-color: #DAA520;
}
@media (max-width: 1700px) {
  .user-module .module-item {
    width: 33.33%;
  }
  .user-module .module-item .item-top-box {
    height: 2.3rem;
  }
  .user-module .module-item .item-top-box .item-top {
    height: 2.3rem;
  }
}
@media (max-width: 1220px) {
  /*.user-header .nav li {
    width: 25%;
  }
  .user-header .nav .phone {
    display: none;
  }*/
  .user-module .module-box .module-search {
    width: 45%;
  }
  .user-module .module-item {
    width: 50%;
  }
  .user-module .module-item .item-top-box {
    height: 3.4rem;
  }
  .user-module .module-item .item-top-box .item-top {
    height: 3.4rem;
  }
  .user-module .item-bottom b {
    font-size: 16px;
  }
  .user-module .item-bottom span {
    font-size: 13px;
  }
}
/*头部导航变化开始*/
@media (max-width: 780px) {
  /*.user-header .nav {
     width: 94%;
  }
  .user-header .nav .phone span {
    font-size: 0;
  }*/
  .user-info .info-box {
    width: 94%;
  }
  .user-info li:nth-child(3) span {
    padding-right: 15px;
  }
  .user-info .address .info-set {
    height: 20px;
    width: 30px;
  }
  .user-module .module-box {
    width: 94%;
  }
  .user-module .module-box .module-search {
    left: 0;
    transform: translate(0, -50%);
    width: 65%;
  }
  .user-module .module-item {
    width: 50%;
  }
  .user-module .module-item .item-top-box {
    height: 3.8rem;
  }
  .user-module .module-item .item-top-box .item-top {
    height: 3.8rem;
  }
  .user-module .item-bottom b {
    font-size: 15px;
  }
  .user-module .item-bottom .set-list li {
    font-size: 12px;
  }
}
@media (max-width: 580px) {
  /*.user-header .nav {
     width: 85%;
  }
  .user-header .nav .phone span {
    font-size: 0;
  }*/
  .user-info .info-box {
    width: 85%;
  }
  .user-header .logo span:after {
    background-size: 70px 30px;
  }
  .user-info {
    padding: 72px 15px 25px;
  }
  .user-info .avatar {
    width: 64px;
    height: 64px;
  }
  .user-info li {
    padding: 2px 0;
    font-size: 14px;
    line-height: 14px;
  }
  .user-info li:nth-child(1) {
    font-size: 12px;
  }
  .user-info li:nth-child(2) {
    height: 29px;
  }
  .user-info li:nth-child(3) {
    font-size: 12px;
  }
  .user-info .address .info-set {
    height: 16px;
    width: 24px;
  }
  .user-module .module-box {
    width: 85%;
  }
  .user-module .module-box h3 {
    padding-bottom: 10px;
  }
  .user-module .module-box .module-yun-b {
    height: 91px;
  }
  .user-module .module-box .module-search {
    width: 100%;
    top: 0;
    transform: translate(0, 0);
  }
  .user-module .module-box .sort-box {
    padding-top: 10px;
    width: 100%;
    top: 40px;
    transform: translateY(0);
  }
  .user-module .module-item {
    width: 100%;
  }
  .user-module .module-item .item-top-box {
    height: 7.0rem;
  }
  .user-module .module-item .item-top-box .item-top {
    height: 7.0rem;
  }
  .user-module .item-bottom .item-info b {
    font-size: 15px;
  }
}
@media (max-width: 430px) {
  /*.user-header .nav {
     width: 100%;
  }*/
  .user-info .info-box {
    width: 100%;
  }
  .user-header a {
    font-size: 14px;
  }
  .user-header .phone {
    display: none;
  }
  .user-header .nav li {
    width: 25%;
  }
  /*.user-info {
    padding: 67px 15px 20px;
  }*/
  .user-info .avatar {
    width: 51px;
    height: 51px;
  }
  .user-info li {
    padding: 0;
    font-size: 14px;
    line-height: 14px;
  }
  .user-info li:nth-child(2) {
    height: 25px;
  }
  .user-info li:nth-child(2n+1) {
    font-size: 12px;
    line-height: 12px;
  }
  .user-module .module-box {
    padding: 10px 0;
    width: 100%;
  }
  .user-module .module-box h3 {
    font-size: 20px;
    padding-bottom: 0px;
  }
  .user-module .module-box .module-yun {
    margin-bottom: 0;
  }
  .user-module .module-box .module-search input {
    height: 30px;
    font-size: 14px;
  }
  .user-module .module-box .module-search .search {
    width: 20px;
    height: 20px;
    padding-top: 5px;
  }
  .user-module .module-box .module-yun-b .sort-box {
    line-height: 27px;
  }
  .user-module .module-item .user-summary {
    width: 290px;
    height: 80px;
    padding: 5px;
    font-size: 14px;
    line-height: 30px;
    bottom: -50px;
  }
  .user-module .module-item .user-summary .summary-left {
    margin-right: 10px;
  }
  .user-module .module-item .item-top-box {
    height: 7.9rem;
  }
  .user-module .module-item .item-top-box .item-top {
    height: 7.9rem;
  }
  .user-module .item-bottom span {
    font-size: 12px;
  }
  /*.user-footer .user-footer-call {
    height: 70%;
  }*/
 /* .user-footer {
    padding: 0 0 10px 0;
    height: 180px;
    font-size: 12px;
  }*/
  /*.user-footer .user-footer-link {
    height: 15%;
    line-height: 27px;
  }*/
  /*.user-footer .user-footer-copyright {
    height: 15%;
    line-height: 27px;
  }*/
}
/*触发导航栏变化*/
/*@media screen and(max-width: 700px) {
  .module-item {
    width: 100%;
  }
}*/

