<!-- <script src="../public/assets/jquery-3.3.1.min.js"></script>
<script src="../public/assets/jquery.lazyload.min.js"></script>
<script src="../public/assets/jquery.cookie.js"></script>
<script src="../public/assets/bootstrap.min.js"></script>
 --><!-- <script src="../public/js/load.js"></script>
<script src="../public/js/popup.js"></script>
<script src="../public/js/login.js"></script>
<script src="../public/js/rem.js"></script>
<script src="../public/js/common.js"></script> -->
<script src="../public/assets/assets.min.js"></script>
<script src="../public/js/bundle.min.js"></script>