<div class="header user-header">
  <a class="logo" href="../../../index.html">
    <img src="../public/images/00.png" style="width: 70px">
  </a>
  <div class="head-fenlei">
    <a class="head-lianjie introduce" href="../introduce/" style="text-decoration: none;">
      实景建模
    </a>
    <a class="head-lianjie cloudmdl" href="../cloudmdl/" style="text-decoration: none;">
      云建模
    </a>
    <a class="head-lianjie cloudshow" href="../cloudshow/" style="text-decoration: none;">
      云展示
    </a>
    <a class="head-lianjie" href="javascript:alert('敬请期待')" style="text-decoration: none;">
      其他服务
    </a>
  </div>
  <div class="head-tubiao">
    <div class="head-call-box head-tubiao-i">
      <i class="tooltip-toggle iconfont icon-dianhuahover" data-toggle="tooltip" data-placement="bottom" title="0570-8513011"></i>
    </div>
    <a class="head-qq-box head-tubiao-i" target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=449309258&amp;site=qq&amp;menu=yes">
      <i class="iconfont icon-qq"></i>
    </a>
    <div class="login head-tubiao-i loginBtn" id="login">
      <i class="iconfont icon-yonghudianji"></i>
      <!-- <ul class="dropdown-menu user_center" role="menu">
        <li>
          <a href="earth/User/index.php">用户中心</a>
        </li>
        <li>
          <a href="" onclick="zhuxiao();">注销</a>
        </li>
      </ul> -->
      <ul class="hover-menu">
        <li>
          <a class="profile" onclick="location.href='/earth/views/User/'">个人中心</a>
        </li>
        <li class="console">
          <a onclick="window.open('/earth/views/console')">控制台</a>
        </li>
        <li class="separator"></li>
        <li>
          <a class="logout" onclick="location.href='./'">退出</a>
        </li>
      </ul>
    </div>
    <input type="checkbox" id="gho-header-main--trigger" class="gho-header-checkbox">
    <label class="head-fenlei-box head-tubiao-i" for="gho-header-main--trigger">
      <!--<i class="iconfont icon-liebiao" ></i>-->
      <i class="gho-header-main--cross_hatch">×</i>
    </label>
  </div>
  
  <div id="zxlogin" class="zxloginbox  dropdown">
    <div class="login  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <img src="../public/images/04.png" width="25">
    </div>
    <!-- <ul class="dropdown-menu" role="menu">
      <li>
        <a href="earth/User/index.php" target="_blank">用户中心</a>
      </li>
      <li>
        <a href="" onclick="zhuxiao();">注销</a>
      </li>
    </ul> -->
  </div>
  <!-- <ul class="hover-menu">
    <li>
      <a class="profile" href="/earth/views/User/">个人中心</a>
    </li>
    <li class="separator"></li>
    <li>
      <a class="logout" href="./">退出</a>
    </li>
  </ul> -->
</div>