<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>实景建模</title>
  <?php include '../common/css.html'; ?>
  <link rel="stylesheet" href="../public/css/introduce.css">
  <link rel="icon" href="../public/images/icon/09.png">
</head>
<body>
  <div class="gho-svg">
    <?php include('../public/images/svg/gho.svg'); ?>
  </div>
  <?php include('../common/nav.html'); ?>
  <section class="introduce-pic">
    <div class="introduce-pic-bg"></div>
    <h2 class="top center-x">更透明的实景建模服务</h2>
    <div class="gradient">
      <div class="bottom center-x">
        <p class="b-top">通过在线圈地下单，您可自由确定建模范围、自由组合不同精度、实时获得报价。您将获得更透明、更专业、更高效的实景建模服务。</p>
        <div class="b-bottom clearfix">
          <div class="strong-point1 fl">
            <div>
              <span>￥<b>1</b>万/Km²</span>
            </div>
            <div>
              <span>最低单价</span>
            </div>        
          </div>
          <div class="strong-point2 fl">
            <div>
              <svg class="time">
                <use xlink:href="#timek"></use>
              </svg>
              <b>3</b>
              <span>天</span>
            </div>
            <div>
              <span>最快交付</span>
            </div>
          </div>
          <div class="strong-point3 fl">
            <div>
              <svg class="purse">
                <use xlink:href="#purse"></use>
              </svg>
              <b>50</b>
              <span>%+</span>
            </div>
            <div>
              <span>节约成本</span>
            </div>
          </div>
          <div class="atc fl">
            <a class="btn-online" href="http://www.guihuao.com/3dspace/draw.html">
              <span>在线 · 圈地下单</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <a class="goto-bottom center-x">
      <svg class="goto-bottom-svg">
        <use xlink:href="#goto-bottom"></use>
      </svg>
    </a>
  </section>
  <section class="introduce-container">
    <div class="container-easy">
      <div class="container-easy-t">
        <h2>实景建模 简单至极</h2>
        <p>所有您需做的，仅仅是在地图上画个圈儿</p>
      </div>
      <div class="container-easy-b">
        <div class="easy-b-text clearfix">
          <div class="you fl w35">
            <img src="../public/images/10.png">
            您
          </div>
          <div class="text fl w30">
            <h3>实景建模流程</h3>
            <p>(标准地块72小时极速交付)</p>
          </div>
          <div class="we fl w35">
            <img src="../public/images/10.png">
            规划圈团队
          </div>
        </div>
        <div class="easy-b-pic clearfix">
          <div class="left fl">
            <div class="pic-leftbox clearfix">
              <img src="../public/images/11.png">
              <span class="yellow-text fr">
                <span>在线</span><br>
                <span>圈地下单</span>
              </span>
            </div>
            <div class="left-two"><b>DAY 2</b></div>
            <div></div>
            <div class="pic-leftbox clearfix">
              <img src="../public/images/16.png">
              <span class="yellow-text fr">
                <span>获得3D实景</span><br>
                <span>模型和其他成果</span>
              </span>
            </div>
          </div>
          <div class="center fl">
            <div class="zhong">
              <div class="shixin center-x"></div>
              <div class="kongxin1 center-x"></div>
              <div class="kongxin2 center-x"></div>
              <div class="kongxin3 center-x"></div>
            </div>
          </div>
          <div class="right fl">
            <div class="right-one"><b>DAY 1</b></div>
            <div class="pic-rightbox clearfix">
              <img class="fr" src="../public/images/14.png">
              <span class="black-text">
                <span>无人机团队</span><br>
                <span>去现场采集数据</span>
              </span>
            </div>
            <div class="pic-rightbox clearfix">
              <img class="fr" src="../public/images/15.png">
              <span class="black-text">
                <span>业内团队</span><br>
                <span>建模与处理</span>
              </span>
            </div>
            <div class="right-four"><b>DAY 3</b></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-speed">
      <div class="container-speed-t">
        <h2>京东速度 价格屠夫</h2>
        <p>让每一个普通设计师都能用上3D实景模型</p>
      </div>
      <div class="container-speed-b">
        <div class="block-one">
          <div class="one-t clearfix">
            <div class="w40 fr">
              <h2>10秒下单，极速交付</h2>
              <p>通过"在线圈地"，10秒即可为实景建模任务下单，后续采集、建模各个环节标准化，突破行业速度极限，标准地块72小时极速交付，创造3D实景界的"京东"速度。</p>
            </div>
            <img class="lazy w60 fl" src="../public/images/load.jpg" data-original="../public/images/02.jpg">
          </div>
          <div class="one-b clearfix">
            <div class="w40 fr">
              <h2>在线报价，透明实惠</h2>
              <p>网站根据圈地面积和距离，在线自动实时报价，价格降至行业一半，无景小面积限制。做"小米"式"价格屠夫"，普惠所有中小项目。</p>
            </div>
            <img class="lazy w60 fl" src="../public/images/load.jpg" data-original="../public/images/03.jpg">
          </div>
        </div>
        <img class="lazy" src="../public/images/load.jpg" data-original="../public/images/04.jpg">
        <div class="block-two">
          <h2>不同精度，自由组合</h2>
          <p>客户下单时可绘制多个地块，每个地块设定高、低两种空间精度。对于核心建筑，还可指定1cm的超高精度的模型合成一个完整的模型文件，方便用户使用。通过精度的自由组合，可以在非核心去使用低精度，最低可为客户节约70%以上的成本。</p>
        </div>
        <div class="block-three">
          <div class="three clearfix">
            <div class="w40 fl">
              <h2>成果多样，满足需求</h2>
              <p>四大标配成果：云平台网页版模型、模型原始数据、正射影像图、原始航拍照片。另外，还可根据需求，提供OBJ、CAD线画、立面截图等增值服务。</p>
            </div>
            <img class="lazy w60 fl" src="../public/images/load.jpg" data-original="../public/images/05.jpg">
          </div>
        </div>
        <img class="lazy" src="../public/images/load.jpg" data-original="../public/images/06.jpg">
        <div class="block-four">
          <h2>WEB设计，让规划设计更简单</h2>
          <p>在PC,PAD,手机浏览器上就可进行3D测量、标注、飞行、漫游、视线分析、日照分析、方量分析、人工方案模型(SU/3DMAX模型)嵌入等，让规划设计更简单。</p>
        </div>
        <div class="block-five clearfix">
          <div class="five-left fl w50">
            <img class="lazy" src="../public/images/load.jpg" data-original="../public/images/07.jpg">
            <div>
              <h2>云端无线存储</h2>
              <p>规划圈提供无限量的云端存储服务。在保证数据隐私和安全的同时，让您可以随时随地访问。</p>
            </div>
          </div>
          <div class="five-right fl w50">
            <img class="lazy" src="../public/images/load.jpg" data-original="../public/images/08.jpg">
            <div>
              <h2>灵活建立管理网络</h2>
              <p>通过项目上报，每个层级均可将项目分享给上一级，从而在单位内部快速建立多层级的管理网络，并可在同一个地球上查看所有项目。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="introduce-jump">
    <h2>我有地块要委托建模</h2>
    <p>（在网页上圈好建模范围，确认价格并提交即可）</p>
    <a class="btn-online center-x" href="http://www.guihuao.com/3dspace/draw.html">
      <span>在线 · 圈地下单</span>
    </a>
  </section>
  <a class="goto-top">
    <svg class="goto-top-svg">
      <use xlink:href="#goto-top"></use>
    </svg>
  </a>
  <?php include '../common/footer.html'; ?>
  <?php include '../common/popup.html'; ?>
</body>
</html>
<?php include '../common/js.html'; ?>