<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>了解我们</title>
  <link rel="stylesheet" type="text/css" href="../public/css/bundle-user.css">
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_640335_037uh90i952ymn29.css">
</head>
<body>
  <div class="gho-svg">
    <?php include('../public/images/svg/gho.svg'); ?>
  </div>
  <?php include '../common/nav.html'; ?>
  <?php include '../common/popup.html'; ?>
</body>
</html>
<?php include '../common/js.html'; ?>