<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>云展示</title>
  <?php include '../common/css.html'; ?>
  <link rel="stylesheet" href="../public/css/cloudshow.css">
  <link rel="shortcut icon" href="../public/images/icon/09.png">
</head>
<body>
  <?php include '../common/nav.html';?>
  <div class="gho-svg">
    <?php include('../public/images/svg/gho.svg'); ?>
  </div>
  <section class="introduce-pic">
    <div class="introduce-pic-bg"></div>
    <h2 class="top center-x">用最便捷的方式 展现空间价值</h2>
    <div class="gradient">
      <div class="bottom center-x">
        <p class="b-top">支持海量实景三维数据云端存与展示，提供测量、标注/标会、可视域/方量/日照分析、人视模拟、飞行漫游、单体化、压平面、插入人工模型等丰富工具，支持PC/移动 WEB端流畅加载。</p>
        <div class="b-bottom clearfix">
          <div class="strong-point1 fl">
            <div>
              <svg class="coin">
                <use xlink:href="#coin"></use>
              </svg>
              <span><b>150</b>GB</span>
            </div>
            <div>
              <span>单项最大承载</span>
            </div>        
          </div>
          <div class="strong-point2 fl">
            <div>
              <span>￥<b>0</b>秒</span>
            </div>
            <div>
              <span>瞬间加载</span>
            </div>
          </div>
          <div class="strong-point3 fl">
            <div>
              <svg class="purse">
                <use xlink:href="#purse"></use>
              </svg>
              <b>15</b>
              <span>+</span>
            </div>
            <div>
              <span>分析工具</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="goto-bottom center-x">
      <svg class="goto-bottom-svg">
        <use xlink:href="#goto-bottom"></use>
      </svg>
    </a>
  </section>
  <section class="cloudshow-container">
    <div class="contatiner-text">
      <h2>云展示 不仅仅是展示</h2>
      <p>您可以在云端，便捷而充分地挖掘空间价值</p>
    </div>
    <div class="app">
      <h3>应用领域</h3>
      <ul class="list-box clearfix">
        <li class="fl">
          <img src="../public/images/01(1).png">
          <span>城乡规划</span>
        </li>
        <li class="fl">
          <img src="../public/images/02(1).png">
          <span>建筑设计</span>
        </li>
        <li class="fl">
          <img src="../public/images/03(1).png">
          <span>景观设计</span>
        </li>
        <li class="fl">
          <img src="../public/images/04(1).png">
          <span>市政交通</span>
        </li>
        <li class="fl">
          <img src="../public/images/05(1).png">
          <span>工程施工</span>
        </li>
        <li class="fl">
          <img src="../public/images/06(1).png">
          <span>其他</span>
        </li>
      </ul>
    </div>
    <div class="introduce">
      <h3>功能介绍</h3>
      <div class="case-box clearfix">
        <div class="case">
          <h5><span>1</span> 测量</h5>
          <div class="video-box video-box1" data-src="../public/video/cl.MP4" data-time="0">
            <img src="../public/images/cl.JPG">
            <div class="video-shadow"></div>
            <div class="play-btn"></div>
          </div>
        </div>
        <div class="case">
          <h5><span>2</span> 标注</h5>
          <div class="video-box video-box2" data-src="../public/video/bz.MP4" data-time="0">
            <img src="../public/images/bz.JPG">
            <div class="video-shadow"></div>
            <div class="play-btn"></div>
          </div>
        </div>
        <div class="more-case">
          <div class="case">
            <h5><span>3</span> 单体化</h5>
            <div class="video-box video-box3" data-src="../public/video/dth.MP4" data-time="0">
              <img src="../public/images/dth.JPG">
              <div class="video-shadow"></div>
              <div class="play-btn"></div>
            </div>
          </div>
          <div class="case">
            <h5><span>4</span> 飞行</h5>
            <div class="video-box video-box4" data-src="../public/video/fx.MP4" data-time="0">
              <img src="../public/images/fx.JPG">
              <div class="video-shadow"></div>
              <div class="play-btn"></div>
            </div>
          </div>
          <div class="case">
            <h5><span>5</span> 光照分析</h5>
            <div class="video-box video-box5" data-src="../public/video/gzfx.MP4" data-time="0">
              <img src="../public/images/gzfx.JPG">
              <div class="video-shadow"></div>
              <div class="play-btn"></div>
            </div>
          </div>
          <div class="case">
            <h5><span>6</span> 可视域分析</h5>
            <div class="video-box video-box6" data-src="../public/video/ksyfx.MP4" data-time="0">
              <img src="../public/images/ksyfx.JPG">
              <div class="video-shadow"></div>
              <div class="play-btn"></div>
            </div>
          </div>
          <div class="case">
            <h5><span>7</span> 模型导入</h5>
            <div class="video-box video-box7" data-src="../public/video/mxdl.MP4" data-time="0">
              <img src="../public/images/mxdl.JPG">
              <div class="video-shadow"></div>
              <div class="play-btn"></div>
            </div>
          </div>
          <div class="case">
            <h5><span>8</span> 人视角</h5>
            <div class="video-box video-box8" data-src="../public/video/rsj.MP4" data-time="0">
              <img src="../public/images/rsj.JPG">
              <div class="video-shadow"></div>
              <div class="play-btn"></div>
            </div>
          </div>
          <div class="case">
            <h5><span>9</span> 土方量分析</h5>
            <div class="video-box video-box9" data-src="../public/video/tflfx.MP4" data-time="0">
              <img src="../public/images/tflfx.JPG">
              <div class="video-shadow"></div>
              <div class="play-btn"></div>
            </div>
          </div>
          <div class="case">
            <h5><span>10</span> 压平</h5>
            <div class="video-box video-box10" data-src="../public/video/yp.MP4" data-time="0">
              <img src="../public/images/yp.JPG">
              <div class="video-shadow"></div>
              <div class="play-btn"></div>
            </div>
          </div>
        </div>
      </div>
      <button class="more-btn">
        <span>更 多</span>
      </button>
    </div>
    <div class="module-case-box">
      <h3>部分行业案例</h3>
      <div class="module-box">
        <div class="modules"></div>
      </div>
    </div>
  </section>
  <?php include '../common/footer.html';?>
  <?php include '../common/popup.html'; ?>
  <div class="popvideo-box">
    <video id="video" class="popvideo center-xy" width="70%" controls="controls" src="">
      <source class="source" type="video/mp4">
      <source class="source" type="video/ogg">
      您的浏览器不支持
    </video>
  </div>
  <a class="goto-top">
    <svg class="goto-top-svg">
      <use xlink:href="#goto-top"></use>
    </svg>
  </a>
</body>
</html>
<script type="text/template" id="modulesTpl">
  {{each data v}}
  <div class="module-item fl">
    <div class="item">
      <div class="item-top-box">
        <a class="item-top" target="_blank" href="../../scene.html?guid={{v.GUID}}">
          {{if v.coverImg}}
          <img class="lazy" src="../public/images/load.jpg" data-original="{{v.coverImg}}">
          {{else}}
          <img src="../public/images/load.jpg">
          {{/if}}
        </a>
      </div>
      <div class="item-bottom">
        <div class="item-info one-txt-cut">
          <div class="item-info-t">
            <a class="avatar-box" href="javascript:void(0)">
              <div class="user-avatar">
                {{if v.Touxiang}}
                <!-- <div class="avatar" style="backgroundImg:url('{{v.Touxiang}}')"></div> -->
                <img class="avatar" src="{{v.Touxiang}}">
                {{else}}
                <img class="avatar" src="../public/images/avatar.jpeg">
                {{/if}}
              </div>
            </a>
            <b class="one-txt-cut">{{v.title}}</b>
          </div>
          <div class="item-info-b">
            <div class="address-look-box w60">
              <svg class="address">
                <use xlink:href="#address"></use>
              </svg>
              {{if v.province}}
              <span class="b-address one-txt-cut">{{v.province}}·{{v.city}}</span>
              {{else}}
              <span class="b-address one-txt-cut">未知省·未知市</span>
              {{/if}}
              <svg class="look">
                <use xlink:href="#look"></use>
              </svg>
              <span class="b-look one-txt-cut">{{v.viewTimes}}</span>
            </div>
            <div class="times-box w40">
              <span class="times-ago">{{v.addTime | getDateDiff}}</span>
            </div>
          </div>
        </div>
        <!-- <div class="set" data-admin="{{v.manager}}" data-Guid="{{v.GUID}}"></div> -->
        <!-- <div class="set-box">
          <div class="set-list">
            <button id="edit" data-admin="{{v.manager}}" data-Guid="{{v.GUID}}">编 辑</button>
            <button id="report" data-admin="{{v.manager}}" data-Guid="{{v.GUID}}">上 报</button>
            <button id="change" data-admin="{{v.manager}}" data-Guid="{{v.GUID}}">易 主</button>
            <button id="load">下 载</button>
            <button id="delete" data-admin="{{v.manager}}" data-Guid="{{v.GUID}}">删 除</button>
          </div>
          <span class="arrow"></span>
        </div> -->
      </div>
    </div>
    <!-- <div class="user-summary" data-summary="{{v.GUID}}">
      <i class="summary-arrow">
        <span class="arrow-shade"></span>
      </i>
      <a class="summary-left center-y" href="#">
        <div class="summary-left-avatar">
          {{if v.Touxiang}}
          <img class="avatar-min" src="{{v.Touxiang}}">
          {{else}}
          <img class="avatar-min" src="../public/images/avatar.jpeg">
          {{/if}}
        </div>
      </a>
      <div class="summary-right">
        <p class="one-txt-cut">{{v.manager}}</p>
        <p class="one-txt-cut">{{v.company}}</p>
      </div>
    </div> -->
  </div>
  {{/each}}
</script>
<?php include '../common/js.html'; ?>
<!-- <script src="../public/assets/assets.min.js"></script> -->
<script src="../public/assets/template-web.js"></script>
<!-- <script src="../public/js/bundle.min.js"></script> -->
<script>
  var ghoapi = 'http://192.168.1.166/team/earth/'
// var ghoapi = '../../'
// var ghoapi = 'http://www.guihuao.com/earth/'
// var ghoapi = '/ghoapi/'
// var api = 'http://cloud.guihuao.com:8080/team/earth'

  $(function() {

    $.ajax({
      url: ghoapi + 'User_QinxiePHP/user_listScene.php',
      type: 'post',
      data: {'Phonenum': '18606813116',
             'page2': 1
      },
      dataType: 'json',
      success: function(data) {

        console.log(data)

        $.each(data.data, function(i, v) {

          if(v.Touxiang) {

            v.Touxiang = ghoapi + v.Touxiang

          }
          
          if(v.coverImg) {

            v.coverImg = ghoapi + v.coverImg

          }

        })

        $('.modules').html(template('modulesTpl', data))

        $('img.lazy').lazyload()

      }
    })

    $('.video-box').on('mouseenter', function() {

      $(this).children('.play-btn').stop(true, true).fadeIn()

    }).mouseleave(function() {

      $(this).children('.play-btn').stop(true, true).fadeOut()

    })

    // 视频加载
    var src = null

    // var startTime = 0

    var currentTime = 0

    var Media = $('.popvideo-box .popvideo')[0]

    $('.introduce').on('click', '.video-box', function() {

      src = $(this).attr('data-src')

      currentTime = $(this).attr('data-time')

      // console.log(src)
      $('.popvideo-box').fadeIn()

      $('.popvideo-box .popvideo').attr('src', src)

      setCurrentTime(currentTime)

    })

    // $('.video-box').click(function() {

    //   var src = $(this).attr('data-src')
    //   console.log(src)
    //   $('.popvideo-box').fadeIn()

    //   // $('.popvideo-box .popvideo').attr('src', '../public/video/movie.ogg')
    //   $('.popvideo-box .popvideo').attr('src', src)
    //   // $('.popvideo-box .source').attr('src', '../public/video/movie.ogg')

    // })

    $('.popvideo').click(function(e) {

      e.stopPropagation()

    })

    $('.popvideo-box').click(function() {

      Media.pause()

      currentTime = Media.currentTime.toFixed(2)

      var videoSrc = $('.popvideo').attr('src')

      if( videoSrc == "../public/video/cl.MP4" ) {

        $('.video-box1').attr('data-time', currentTime)

      } else if ( videoSrc == "../public/video/bz.MP4" ) {

        $('.video-box2').attr('data-time', currentTime)

      } else if ( videoSrc == "../public/video/dth.MP4" ) {

        $('.video-box3').attr('data-time', currentTime)

      } else if ( videoSrc == "../public/video/fx.MP4" ) {

        $('.video-box4').attr('data-time', currentTime)

      } else if ( videoSrc == "../public/video/gzfx.MP4" ) {

        $('.video-box5').attr('data-time', currentTime)

      } else if ( videoSrc == "../public/video/ksyfx.MP4" ) {

        $('.video-box6').attr('data-time', currentTime)

      } else if ( videoSrc == "../public/video/mxdl.MP4" ) {

        $('.video-box7').attr('data-time', currentTime)

      } else if ( videoSrc == "../public/video/rsj.MP4" ) {

        $('.video-box8').attr('data-time', currentTime)

      } else if ( videoSrc == "../public/video/tflfx.MP4" ) {

        $('.video-box9').attr('data-time', currentTime)

      } else if ( videoSrc == "../public/video/yp.MP4" ) {

        $('.video-box10').attr('data-time', currentTime)

      }

      $(this).fadeOut()

    })

    // 设置视频开始播放的时间
    function setCurrentTime(startTime) {

      Media.currentTime = startTime

      Media.play()   

    }

    // var eventTester = function(e){

    //    Media.addEventListener(e,function(){

    //        console.log((new Date()).getTime())

    //    },false)
    // }

    // 更多按钮
    $('.more-btn').click(function() {

      $('.more-case').show()

      $('.case-box ').append($('.more-case'))

      $(this).hide()

    })

  })

  template.defaults.imports.getDateDiff = function(startDate) {

  var startTime = new Date(Date.parse(startDate.replace(/-/g,   "/"))).getTime();

  var endTime = new Date().getTime();

  var minutes = Math.abs((startTime - endTime))/(1000*60);

  var dates = Math.abs((startTime - endTime))/(1000*60*60*24);

  var months = Math.abs((startTime - endTime))/(1000*60*60*24*30);

  if(minutes == 0) {

    return 1 + '分钟前'

  } else if(minutes > 0 && minutes < 60) {
  
    return Math.floor(minutes) + '分钟前'

  } else if(dates >= 0 && dates < 7) {

    return Math.floor(dates) + '天前'

  } else if(dates >= 7 && dates < 30) {

    return Math.floor(dates / 7) + '周前'

  } else if(months >= 1 && months < 4) {

    return Math.floor(months) + '个月前'

  } else {
    // return false
    return split(' ')[0]
  }
     
}
</script>